# SPDX-FileCopyrightText:  Open Energy Transition gGmbH
#
# SPDX-License-Identifier: AGPL-3.0-or-later

validation:
  planning_horizon: [2020]

# retrieving precomputed files from google drive and bypassing re-execution
retrieve_from_gdrive:
  cutouts: false # if true, US cutouts are retrieved from google drive, else it is retrieved using retrieve_databundle_light if enable is true
  osm_raw: true # if true, bypasses download_osm_data rule
  osm_clean: true # if true, bypasses clean_osm_data rule
  shapes: true # if true, bypasses build_shapes rule
  osm_network: true # if true, bypasses build_osm_network rule
  base_network: true # if true, bypasses base_network rule
  renewable_profiles: true # if true, bypasses build_renewable_profiles rule

# defining the aviation demand scenario
aviation_demand_scenario:
  country: US
  year: 2023
  scenario: central # low, central or high

saf_mandate:
  ekerosene_split: true # separate e-kerosene as separate bus
  non_spatial_ekerosene: true # connects all e-kerosene buses with a single E-kerosene-main bus to model 0 cost of transport and store
  enable_mandate: false # enable SAF mandate
  saf_scenario: EU # EU (default), EU+, EU-

demand_distribution:
  enable: true
  base_demand_year: 2023
  holes_area_threshold: 100
  nprocesses: 4
  plotting: true

demand_projection:
  planning_horizon: 2023
  scenario: "Reference"
  data_centers_load: false

custom_industry:
  enable: true
  ethanol: true
  ammonia: true
  steel: true
  cement: true
  CCS_retrofit: [] # [ethanol, ammonia, steel, cement]
  production_flexibility: []
  H2_DRI: false
  biogenic_co2: false # define output of ethanol from starch CC as biogenic CO2 to be used in Fischer-Tropsch
  grid_H2: true # mark output of electrolysis as grid H2 (which can be used in Fischer-Tropsch)

custom_databundles:
  bundle_cutouts_USA:
    countries: [US]
    category: cutouts
    destination: "cutouts"
    urls:
      gdrive: https://drive.google.com/file/d/10IRlnpEV9pRv1S28aezL_K0cTejGhpIA/view?usp=sharing
    output: [cutouts/cutout-2013-era5.nc]
    disable_by_opt:
      build_cutout: [all]

  # precomputed raw osm data
  bundle_osm_raw_USA:
    countries: [US]
    category: resources_osm_raw
    destination: "resources"
    urls:
      gdrive: https://drive.google.com/file/d/1OivnWzAC1RW47wBquqqrBY5Ti0S_9_7B/view?usp=sharing

  # precomputed clean osm data
  bundle_osm_clean_USA:
    countries: [US]
    category: resources_osm_clean
    destination: "resources"
    urls:
      gdrive: https://drive.google.com/file/d/15LNOikkfVfUdJ40y-58QwEwqNkiabL78/view?usp=sharing

  # precomputed shapes data
  bundle_shapes_USA:
    countries: [US]
    category: resources_shapes
    destination: "resources"
    urls:
      gdrive: https://drive.google.com/file/d/1Uql8Icsy5z02YRCenZ4S2TS0qqT8GY4W/view?usp=sharing

  # precomputed osm network data
  bundle_osm_network_USA:
    countries: [US]
    category: resources_osm_network
    destination: "resources"
    urls:
      gdrive: https://drive.google.com/file/d/1jeoZKwBPoJCKbXYks22dKF7r9Ju3oZqQ/view?usp=sharing

  # precomputed base.nc
  bundle_base_network_USA:
    countries: [US]
    category: resources_base_network
    destination: "resources"
    urls:
      gdrive: https://drive.google.com/file/d/1jblRngNeOuyRlXDb4miZjWXyyXvJCo5s/view?usp=sharing

  # precomputed renewable_profiles data
  bundle_renewable_profiles_USA:
    countries: [US]
    category: resources_renewable_profiles
    destination: "resources"
    urls:
      alternative_clustering: https://drive.google.com/file/d/1Bt8NVxhe2-nrw2ZTg35sgUIQ-R8A57DN/view?usp=sharing
      voronoi_clustering: https://drive.google.com/file/d/1yIi5TG572o3m3_iZuiMyBZbtzNRgNzZi/view?usp=sharing

  # demand data used for demand redistribution
  bundle_demand_data_USA:
    countries: [US]
    category: data_demand_data
    destination: "data"
    urls:
      gdrive: https://drive.google.com/file/d/15URN8vooJHqfAUEZjBGXoBuk5A0jPM7H/view?usp=sharing

